<div style= "margin-left:14px">
  <h1 class="page-header"><%= t('messages.form.new', model: @question.model_name.human) %> </h1>
</div>
<%= render partial: 'admins_backoffice/questions/shared/form' %>