  <!-- Outer Row -->
<div>
  <a class="hiddenanchor" id="signin"></a>

  <div class="login_wrapper">
    <div class="animate form login_form">
      <section class="login_content">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <h1>Login Administrativo</h1>
          <div>
            <%= f.email_field :email, autofocus: true, placeholder: "email", class: "form-control" %>
          </div>
          <div>
            <%= f.password_field :password, class:"form-control", placeholder:"Password" %>
          </div>

          <div>
            <%= f.submit "Entra", class: "btn btn-default submit" %>
          </div>

          <div class="clearfix"></div>


            <div class="clearfix"></div>
            <br />

            <div>
              <h1><i class="fa fa-graduation-cap"></i> Time to answer!</h1>
              <p>©2020 All Rights Reserved. Time to answer!</p>
            </div>
          </div>
        <% end %>
      </section>
    </div>
  </div>
</div>
